* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
	/* 禁止选中复制文本 */
	/* 	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none; */
}

[v-cloak] {
	display: none;
}

html,
body {
	width: 100%;
	height: 100%;
	position: relative;
}

input {
	outline: none;
	border-radius: 0;
	/* -webkit-appearance: none; */
	-webkit-border-radius: 0px;
}

a {
	text-decoration: none;
	color: white;
}

.a_vip {
	text-decoration: none;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	padding: 0 0.05rem 0 0.05rem;
}

#app {
	width: 100%;
}

/* 头部组件 ------------------------------------------------*/
/* 组件样式 */
.topBars {
	/* 	position: fixed;
	left: calc(50% - 12rem / 2);
	top: 0.45rem; */
	width: 12rem;
	margin: 0 auto;
	/* margin-top: 0.45rem; */
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.leftImg {
	height: 0.38rem;
	width: 0.78rem;
	cursor: pointer;
}

.rightText {
	width: 7.5rem;
	color: white;
	font-size: 0.18rem;
	font-family: Noto Sans S Chinese;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: space-between;
	align-content: center;
	/* position: relative; */
}

.rightText>div>a {
	display: block;
	line-height: 0.5rem;
}

.rightText>div {
	position: relative;
	height: 0.4rem;
}

/* 导航栏a标签下拉列表 */

#aDownLink {
	display: block;
	width: 1.8rem;
	/* background-color: rgba(255,255,255,0.6); */
	background-color: white;
	position: absolute;
	/* right: 0.9rem; */
	/* top: 0.4rem; */
	box-shadow: 0rem 0.02rem 0.09rem #ffffff;

}

#aDownLink>a>span {
	display: block;
	padding: 0.14rem 0.75rem 0.14rem 0.3rem;
	font-size: 0.14rem;
	font-family: SourceHanSansSC;
	font-weight: 500;
	color: rgba(68, 68, 68, 1);
	border-bottom: 0.01rem solid #e0e0e0;
}

#aDownLink>a:nth-last-child(1)>span {
	border: none;
}

/* vue过渡动画 */
.goon-enter-active,
.goon-leave-active {
	transition: all 0.5s ease;
}

.goon-enter,
.goon-leave-to {
	opacity: 0;
	transform: translateY(40%);
}

#gundongtiaoColor {
	width: 100%;
	height: 0.9rem;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999999;
}

/* ---------------------------------------------------------------- */


/* 底部  组件样式*/
/* d */
.buttomBar {
	height: 8.87rem;
	width: 100%;
	border-top: 0.1rem solid #f4f4f4;
	margin-top: 0.3rem;
}

.buttomBar1 {
	width: 100%;
	height: 4.5rem;
	overflow: hidden;
	background-color: white;
}

.buttomBar1>div {
	width: 14.96rem;
	margin: 0 auto;
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.buttomBar1>div>a>div {
	display: flex;
	flex-direction: column;
}

.buttomBar1>div>a>div>img {
	width: 0.8rem;
	height: 0.8rem;
}

.buttomBar1>div>a>div>span {
	font-size: 0.2rem;
	font-family: Adobe Heiti Std;
	font-weight: normal;
	color: rgba(114, 114, 114, 1);
	margin-top: 0.28rem;
}

.buttomBar2 {
	width: 100%;
	height: 2.67rem;
	background-color: #e0e0e0;
}


.buttomBar2_content {
	width: 16.04rem;
	height: 2.37rem;
	margin: 0 auto;
	border-bottom: 1px #808080 dashed;
	display: flex;
	flex-direction: row;
}

.buttomBar2_content_left {
	height: 2.37rem;
	display: flex;
}

.shouye {
	width: 1.32rem;
}

.shouye>a {
	font-size: 0.21rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(133, 133, 133, 1);
}

.page-link {
	display: flex;
	flex-direction: column;
	margin-top: 1.1rem;
}

.page-link-phone {
	width: 4.85rem;
	font-size: 0.17rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(133, 133, 133, 1);
}

.page-link-title {
	width: 2.12rem;
	height: 0.56rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.page-link a {
	font-size: 0.21rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(133, 133, 133, 1);
}

.page-ercode {
	width: 3.18rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ercode-yaotiao {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgba(133, 133, 133, 1);
}

.ercode-yaotiao span {
	font-size: 0.1rem;
}

.ercode-yaotiao img {
	width: 1.28rem;
	height: 1.28rem;
	margin: 0.1rem 0;
}

.buttomBar3 {
	width: 100%;
	height: 1.8rem;
	background-color: rgb(163, 31, 38);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.17rem;
	font-family: SourceHanSansSC;
	font-weight: 300;
	color: rgba(255, 255, 255, 1);
}

.buttomBar-friendship {
	display: flex;
	flex-direction: row;
	width: 5rem;
	justify-content: space-between;
}

.buttomBar-friendship span {
	margin-left: 0.16rem;
}


/*  */

/* 除主页之外通用 banner 组件样式 */
.banner1 {
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}


/* 所有页面的form  组件样式*/
.content {
	width: 100%;
}

.main {
	margin: 0 auto;
	width: 12rem;
	height: 100%;
	font-size: 0.19rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	padding-top: 0.55rem;
	padding-bottom: 0.5rem;
}

.main_top {
	width: 100%;
	padding-top: 1.11rem;
}

.main_top>p:nth-child(1) {
	font-size: 0.39rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

.main_top>p:nth-child(2) {
	margin-top: 0.28rem;
	font-size: 0.28rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

/* ------------------------------------------------ */
/* 分页  组件样式*/
.limt_contents {
	width: 3.77rem;
	height: 5.1rem;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

.limt_contents>img {
	width: 100%;
	height: 3.39rem;
}

.limt_contents_buttom {
	padding: 0.34rem 0.4rem 0.34rem 0.4rem;
	height: 1.65rem;
	background-color: #e0e0e0;
	border-top: 0.04rem solid white;
}

.limt_contents_buttom>p {
	font-size: 0.13rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 0.28rem;
}

/* 社会责任 & 公司简介 */
.main_content {
	width: 12rem;
	margin: 0 auto;
}

.main_content>p {
	font-size: 0.19rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 0.33rem;
}

.main_content>p:nth-child(1) {
	margin-top: 0.40rem;
}

.main_content>p:nth-child(2) {
	margin-top: 0.28rem;
}

.imge {
	margin-top: 0.8rem;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.96rem;
}

.imge>img {
	width: 3.69rem;
	height: 2.39rem;
}


/* 联系我们表单样式 */
.form {
	width: 12rem;
	margin: 0 auto;
	padding-top: 2.15rem;
	padding-bottom: 1.25rem;
}

.form>p:nth-child(1) {
	font-size: 0.29rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

.form_content {
	display: flex;
	padding-top: 0.24rem;
}

.form_left {
	flex: 1;
}

.form_right {
	width: 3.37rem;
	height: 2.4rem;
}

.name {
	font-size: 0.23rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	padding-top: 0.32rem;
}

.name>img {
	width: 100%;
	height: 0.05rem;
	display: block;
	margin-top: 0.11rem;
}

.name>input {
	font-size: 0.23rem;
	border: none;
	padding-left: 0.1rem;
	width: 70%;
}

.form_button>input {
	height: 0.3rem;
	width: 0.48rem;
	font-size: 0.16rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

.name>span {
	margin-right: 0.3rem;
}


/* vip用户联系我们页面banner */
.banner_vip {
	width: 100%;
	height: 7.19rem;
	background-image: url(../images/agent/baner_vip.png);
	background-size: 100% 100%;
}


/* 弹窗样式 */
.open {
	width: 5.4rem;
	height: 2.78rem;
	position: fixed;
	margin: 0 auto;
	top: calc(50% - 2.78rem/2);
	left: calc(50% - 5.4rem/2);
	z-index: 999999999999999999;
}

.open>div:nth-child(1) {
	width: 100%;
	height: 0.54rem;
	font-size: 0.21rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.1rem 0 0.1rem;
	background-color: #8c1f26;
}

.open>div:nth-child(1)>img {
	width: 0.18rem;
	height: 0.18rem;
}

.open>div:nth-child(2) {
	width: 100%;
	height: 100%;
	padding-top: 0.65rem;
	padding-bottom: 0.65rem;
	font-size: 0.21rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 5px 46px 0px rgba(14, 36, 64, 0.29);
}

.open_span {
	display: block;
	width: 1.3rem;
	height: 0.46rem;
	background: rgba(140, 31, 38, 1);
	border-radius: 0.04rem;
	font-size: 0.17rem;
	font-family: Source Han Sans CN;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}


/* 百度地图 */
#baiMap>img {
	max-width: none;
}

#dituContent img {
	max-width: none;
}


/* 人才招聘公共 */
.banners_vip {
	margin-top: 0.92rem;

}

.banners_vip>img {
	width: 100%;
	height: 100%;
	display: block;
}

.person_content {
	width: 12rem;
	margin: 0 auto;
	margin-top: 0.99rem;
	height: 1.77rem;
	border-left: 0.01rem solid #666666;
	display: flex;
	align-items: center;
}

.text_left {
	width: 40%;
	height: 0.90rem;
	border-left: 0.04rem solid #666666;
	font-size: 0.30rem;
	font-family: Montserrat;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	padding-left: 0.35rem;
	line-height: 0.5rem;
}

.text_right {
	flex: 1;
	height: 0.90rem;
	font-size: 0.14rem;
	font-family: FZLTXHK;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text_right_vip_font_size {
	font-size: 0.23rem;
	font-family: FZLTXHK;
	font-weight: 400;
	color: rgba(96, 96, 96, 1);

}

.jianli_top {
	width: 12rem;
	height: 1.47rem;
	background-color: #8c1f26;
	margin: 0 auto;
	margin-top: 0.77rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.jianli_top>img {
	width: 2.94rem;
	height: 0.51rem;
}



.img_team_content {
	width: 5.74rem;
	height: 3.26rem;
}

.img_team_content>img {
	width: 100%;
	height: 100%;
}

.img_team_text {
	margin-top: 0.38rem;
	display: flex;
}

.riqi {
	display: flex;
	flex-direction: column;
}

.riqi>span:nth-child(1) {
	font-size: 0.53rem;
	font-family: URWImperialT;
	font-weight: normal;
	color: #666666;
}

.riqi>span:nth-child(2) {
	font-size: 0.16rem;
	font-family: SourceHanSansSC;
	font-weight: 300;
	color: #666666;
}

.riqi_main {
	margin-left: 0.11rem;
	border-left: 0.04rem solid #666666;
	padding-left: 0.11rem;
	color: #666666;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.riqi_main>span:nth-child(1) {
	font-size: 0.15rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
}

.riqi_main>span:nth-child(2) {
	font-size: 0.2rem;
	font-family: SourceHanSansSC;
	font-weight: 300;
}


#tankuang {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999999999999999999;
	background-color: rgba(128, 128, 128, 0.5);
}

#demo {
	position: relative;
	top: 40%;
}
