.supplier_title {
	width: 100%;
	height: 1.97rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.flex_content {
	margin: 0 auto;
	width: 12rem;
	height: 100%;
	display: flex;

}

.title_content {
	flex: 1;
	display: flex;
}

.title_content>span:nth-child(1) {
	font-size: 0.61rem;
	font-family: SourceHanSansSC;
	font-weight: 300;
	color: rgba(102, 102, 102, 1);
	display: flex;
	align-items: center;
}

.title_content>span:nth-child(2) {
	font-size: 0.18rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	padding-left: 0.2rem;
	display: flex;
	align-items: center;
}

.forms {
	width: 12rem;
	margin: 0 auto;
	font-size: 0.18rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	margin-top: 2.93rem;
}

.forms>ul>li {
	margin-top: 0.28rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.text_input {
	height: 0.27rem;
	width: 10.88rem;
	background-color: #efefef;
	border: none;
	padding-left: 0.15rem;
	font-size:0.18rem;
	font-family:SourceHanSansSC;
	font-weight:400;
	color:rgba(184,184,184,1);
}

.cbox{
	margin-right: 0.1rem;
}



