<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="keywords" content="要挑，要挑APP，要挑官网，要挑购物，要挑会员，要挑客服" />
		<meta name="description" content="要挑以“生活，就是要，挑好的”为理念，秉承严谨的态度，严控各个生产环节，优选产品，为用户提供母婴玩具、家居日用、美妆个护、新鲜美食等品类精选商品。为用户提供富质感的产品和服务，优化线上购物体验，提升用户生活幸福感。" />
		<meta name="renderer" content="webkit">
		<title>首页</title>
		<link href="images/yaotiao.png" rel="SHORTCUT ICON" /> <!-- title图片 -->
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<!-- 引入css -->
		<!-- 查询引入 最大 -->
		<!-- <link rel="stylesheet" media="(min-width:993px) and (max-width:2000px)" href="css/index-tow.css"> -->
	</head>
	<style type="text/css">
		
	</style>
	<body>
		<div id="app">
			<!-- banner -->
			<div class="bigBanner">
				<!-- topbar -->
				<top-bar :bigback-color="colors" :about-yt="aboutYt" @on-links1="onLinksAbout" @out-links1="outLinksAbout"
				 :down-link="downLink" @on-links2="onLinksHzuo" @out-links2="outLinksHzuo">
				</top-bar>
				<div class="bannerText">
					就是要，挑好的！
				</div>
				<div class="erweima">
					<img src="images/index/ios.png">
					<img src="images/index/an.png">
				</div>
				<div class="bannerButton">
					<div>
						iOS下载
					</div>
					<div>
						安卓下载
					</div>
				</div>
			</div>
			<!-- content1 -->
			<div class="content1">
				<div class="fourText">
					要挑平台四大优势
				</div>
				<div class="fourContent">
					<div class="fourDiv" @mouseenter="div1=true" @mouseleave="div1=false">
						<img src="images/index/you.png">
						<span>甄选好物</span>
						<transition name="goon">
							<div class="fourDiv postion" v-if="div1">
								<span style="color: white;">甄选好物</span>
								<hr>
								<span style="font-size: 0.17rem;line-height: 0.3rem;color: white;text-align: center;">
									就是要，挑好的，专业的选品<br>
									团队严格的质检流程，精选<br>
									优质好物让购物更简单
								</span>
							</div>
						</transition>
					</div>
					<div class="fourDiv" @mouseenter="div2=true" @mouseleave="div2=false">
						<img src="images/index/wuyou.png">
						<span>无忧服务</span>
						<transition name="goon">
							<div class="fourDiv postion" v-if="div2">
								<span style="color: white;">无忧服务</span>
								<hr>
								<span style="font-size: 0.17rem;line-height: 0.3rem;color: white;text-align: center;">
									严选优质生产商和合作商<br>
									正品保障<br>
									高性价比
								</span>
							</div>
						</transition>
					</div>
					<div class="fourDiv" @mouseenter="div3=true" @mouseleave="div3=false">
						<img src="images/index/shang2.png">
						<span>流量无上限</span>
						<transition name="goon">
							<div class="fourDiv postion" v-if="div3">
								<span style="color: white;">流量无上限</span>
								<hr>
								<span style="font-size: 0.17rem;line-height: 0.3rem;color: white;text-align: center;">
									商业合作形式多样化<br>
									强大的媒体矩阵和品牌曝光<br>
									忠诚用户
								</span>
							</div>
						</transition>
					</div>
					<div class="fourDiv" @mouseenter="div4=true" @mouseleave="div4=false">
						<img src="images/index/gou2.png">
						<span>产品为王</span>
						<transition name="goon">
							<div class="fourDiv postion" v-if="div4">
								<span style="color: white;">产品为王</span>
								<hr>
								<span style="font-size: 0.17rem;line-height: 0.3rem;color: white;text-align: center;">
									优选物流台作伙伴<br>
									专业客服团队<br>
									无忧售后服务
								</span>
							</div>
						</transition>
					</div>
				</div>
			</div>
			<!-- content2 -->
			<div class="content2">
				<div class="content2-left">
					<div class="content2-left-text">
						<div>
							关于要挑
						</div>
						<div>
							要挑&nbsp;&nbsp;就是要&nbsp;&nbsp;挑好的
						</div>
						<p style="margin-top: 0.78rem;">满足生活日用、家庭、工作、母婴和服务等多场景需求，</p>
						<p>要挑，专注于提升生活品质的电商平台，</p>
						<p>注重用户体验和服务体验， </p>
						<p>为消费者提供高质平价的优质产品。</p>
						<p class="content2-left-text-bottom" style="margin-top: 0.78rem;"> 要挑 “以挑剔的态度， </p>
						<p class="content2-left-text-bottom"> 为中国消费者甄选每一件全球优品 </p>
						<hr>
					</div>
				</div>
				<div class="content2-right">

				</div>
			</div>
			<!-- content3 -->
			<div class="content3">
				COOPERATIVE&nbsp;&nbsp;BRAND&nbsp;&nbsp;合作品牌
				<div class="content3-img">
					<img src="images/index/i1.png" alt="">
					<img src="images/index/i2.png" alt="">
					<img src="images/index/i3.png" alt="">
					<img src="images/index/i4.png" alt="">
					<img src="images/index/i5.png" alt="">
					<img src="images/index/i6.png" alt="">
					<img src="images/index/i7.png" alt="">
					<img src="images/index/i8.png" alt="">
					<img src="images/index/i9.png" alt="">
					<img src="images/index/i10.png" alt="">
					<img src="images/index/i11.png" alt="">
					<img src="images/index/i12.png" alt="">
					<img src="images/index/i13.png" alt="">
					<img src="images/index/i14.png" alt="">
				</div>
				<div class="content3-title">
					NEWS&nbsp;&nbsp;INFORMATION&nbsp;&nbsp;新闻动态
				</div>
				<div class="lunbo" id="index_GoImg">
					<div class="swiper-container" id="swiper1">
						<div class="swiper-wrapper">
							<div class="swiper-slide"
								v-for="(item,index) in 8">
								<lun-bo></lun-bo>
							</div>
						</div>
						<!-- 小点 -->
						<div class="swiper-pagination" id="lunbo_dian">
						</div>
						<div class="lunbo_dian_span" @click="goXwen()">
							更多动态
						</div>
					</div>
					
				</div>
			</div>
			<!-- 底部 -->
			<buttom-bar></buttom-bar>
		</div>
		<!-- <script src="js/jquery-3.3.1%20-%20xz.js" type="text/javascript"></script> -->
		<script src="js/autorem.js" type="text/javascript"></script>
		<script src="js/swiper.min.js" type="text/javascript"></script>
		<script src="js/vue.js" type="text/javascript"></script>
		<script src="js/public.js" type="text/javascript"></script>
		<script src="js/index.js" type="text/javascript"></script>

	</body>
</html>
