<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="keywords" content="要挑，要挑APP，要挑官网，要挑购物，要挑会员，要挑客服" />
		<meta name="description" content="要挑以“生活，就是要，挑好的”为理念，秉承严谨的态度，严控各个生产环节，优选产品，为用户提供母婴玩具、家居日用、美妆个护、新鲜美食等品类精选商品。为用户提供富质感的产品和服务，优化线上购物体验，提升用户生活幸福感。" />
		<meta name="renderer" content="webkit">
		<title>联系我们</title>
		<link href="images/yaotiao.png" rel="SHORTCUT ICON" /> <!-- title图片 -->
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<!-- 引入css -->
		<!-- 查询引入 最大 -->
		<!-- <link rel="stylesheet" media="(min-width:993px) and (max-width:2000px)" href="css/index-tow.css"> -->
	</head>
	<style type="text/css">

	</style>
	<body>
		
		<!--  -->
		<div id="app">
			<open-window ref="openwins" :util-content="utilcontent" v-show="openwin" @closetips="noneOpen"></open-window>				<!-- banner组件1 -->
				
				<banner-one :bigback-colors="colors" :img-src="ossAddr+'banners.png'" banner-height="7.14"  :img-src="ossAddr+'baner_vip.png'" banner-height="7.14"
				:about-yt="aboutYt" @on-links12="onLinksAbout" @out-links12="outLinksAbout"
				:down-link="downLink"	@on-links22="onLinksHzuo" @out-links22="outLinksHzuo"></banner-one>
				<div class="content">
					<div class="main">
						<a class="a_vip" href="index.html" >首页</a>><a class="a_vip" href="">联系我们</a>
					</div>
					<div class="form">
						<p>联系我们</p>
						<div class="form_content">
							<div class="form_left">
								<hr >
								<form>
									<div class="name">
										姓名
										<input v-model="name" type="text" name="" id="" maxlength="10" />
										<span style="color:red; float: right;">*</span>
										<img :src="ossAddr+'soild.png'" >
										
									</div>
									<div class="name">
										联系电话
										<input v-model="phone" type="text" name="" id="" value=""  maxlength="11"/>
										<span style="color:red; float: right;">*</span>
										<img :src="ossAddr+'soild.png'" >
									</div>
									<div class="name">
										备注说明
										<input v-model="remarks" type="text" name="" id="" value="" maxlength="30" />
										<img :src="ossAddr+'soild.png'" >
									</div>
									<div class="form_button">
										<input type="button" name="" id="" value="提交" @click="setForms(2)"/>
										<input type="reset" name="" id="" value="重置" />
									</div>
								</form>
							</div>
							<div class="form_right" id="baiMap">
								
							</div>
						</div>
					</div>
					<buttom-bar></buttom-bar>
				</div>
		</div>
		<script src="js/autorem.js" type="text/javascript"></script>
		<script src="js/vue.js" type="text/javascript"></script>
		<script src="js/public.js" type="text/javascript"></script>
		<script src="js/linkWe.js" type="text/javascript"></script>
		<script src="js/swiper.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=4TeYaI8SIzyY2nEHCyrFGmHflS2sAHLV"></script>
	</body>
</html>
